@tailwind base;
@tailwind components;
@tailwind utilities;

.inter {
  font-family: var(--font-inter);
}

.poppins {
  font-family: var(--font-poppins);
}

.josefinSans {
  font-family: var(--font-josefinSans);
}

.openSans {
  font-family: var(--font-openSans);
}
